body {
    background-image: linear-gradient(to right,#AEB5FB, #FBCEAE);
    font-family:'Lobster';
    margin: 0%;
}

header {
    background-color: #AEFBF4;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: #2B3F39;
    font-family:'Lobster';
    padding: 20px;
    text-align: center;
}

#bio-content {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    margin-bottom: 5%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    transition: 0.3s;
}

h1 {
    font-weight: 400;
}

#navbar {
    background-color: #FBAEDB;
    overflow: hidden;
}

#navbar a {
    color: #2B3F39;
    display: block;
    font-family:'Sorts Mill Goudy', serif;
    font-weight: 700;
    float: left;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

#navbar a:hover {
    background-image: linear-gradient(to right, #AEFBF4, #FBAEDB);
    color: #2B3F39;
}

#title {
    color: #2B3F39;
    font-family:'Lobster';
    padding: 20px;
    text-align: center;
}

#interview {
    font-family: 'Sorts Mill Goudy, serif';
    margin-left: 25%;
    margin-right: 25%;
    text-align: start;
}

#about {
    font-family: 'Sorts Mill Goudy, serif';
    margin-bottom: 10%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: start;
}

#hobbies {
    font-family: 'Sorts Mill Goudy, serif';
    margin-bottom: 10%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: start;
}

#image-gallery {
    align-content: center;
    display: grid;
}

#image-gallery-a {
    display: grid;
    grid-template-columns: auto auto auto;
}

#gallery-item-a {
    border-radius: 15px;
    padding: 5px;
}

img {
    width: 420px; 
    height: 600px;
}

#img {
    width: 200px;
    height: 150px;
}

.column {
    column-count: 3;
}

figure {
    text-align: center;
}

figcaption {
    color: #2B3F39;
    font-family:'Sorts Mill Goudy', serif;
    font-style:oblique;
    margin-bottom: 1%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
}

#container {
    color: #2B3F39;
    padding: 10px;
    text-align: center;
}

#style-list {
    color: #2B3F39;
    font-family:'Sorts Mill Goudy', serif;
    list-style-position: inside;
    margin-left: 33%;
    text-align: left;
}

#container-video {
    align-content: center;
    color: #2B3F39;
    font-family:'Lobster';
    margin-bottom: 5%;
    padding: 2px 16px;
    text-align: center;
}

#bottom-space {
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 2px 16px;
}
